.quiz {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

.timer-wrapper {
  font-weight: 600;
  padding: 2em;
  margin-bottom: 5%;
}

.quiz-wrapper {
  width: 60%;
  padding: 2em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 1em;
  margin-bottom: 5%;
}

.quiz__title-wrapper {
  width: 100%;
}

.quiz__title__number {
  display: inline-block;
  font-weight: 600;
  font-size: 1.2em;
  margin-right: 0.8em;
}

.quiz__title__question {
  white-space: normal;
}

.quiz__answer-list {
  list-style: none;
  counter-reset: answer-counter;
  width: 80%;
  font-size: 0.8em;
  padding: 1em;
}

.quiz__answer {
  counter-increment: answer-counter;
  width: 80%;
  border-radius: 1em;
  margin-bottom: 0.5em;
  padding-left: 0.4em 0em 0.4em 0em;
}

.quiz__answer:before {
  content: counter(answer-counter);
  border-radius: 2em;
  border: solid 0.05em black;
  padding: 0.03em 0.3em 0.03em 0.3em;
  display: inline-block;
  background-color: yellow;
  color: rgb(129, 79, 74);
  font-weight: bold;
  margin-right: 1em;
}

.active:hover {
  background-color: rgb(255, 252, 224);
  cursor: pointer;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.quiz__answer-wrapper {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  align-items: self-start;
}

.quiz__grading {
  width: 100%;
  text-align: center;
}

.quiz__result-wrapper {
  width: 100%;
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz__next-button,
.quiz__result-button {
  padding: 0.7em 2.5em 0.7em 2.5em;
  background-color: rgb(255, 216, 40);
  font-weight: 600;
  border-radius: 2em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@media screen and (max-width: 780px) {
  .quiz-wrapper ul {
    width: 90%;
  }

  .quiz__answer-list li {
    width: 90%;
  }
}

@media screen and (max-width: 420px) {
  .timer-wrapper {
    margin-bottom: 20%;
  }

  .quiz-wrapper {
    width: 80%;
    padding: 1em;
    margin-bottom: 20%;
  }

  .quiz-wrapper ul {
    width: 100%;
  }

  .quiz__answer-list li {
    width: 90%;
  }

  .quiz__result-wrapper {
    margin-top: 25%;
  }

  .quiz__next-button,
  .quiz__result-button {
    padding: 0.7em;
  }
}
